In [6]:
import pandas as pb

In [12]:
df = pb.DataFrame({'nome':['Rafael','Maria','Joao'],'idade':[10,30,20]})

In [13]:
df

     nome  idade
0  Rafael     10
1   Maria     30
2    Joao     20

In [15]:
df.idade[0]

10

In [16]:
df.idade[1]

30

In [17]:
df['idade'][1]

30

In [18]:
df.loc[1,'idade']

30

In [19]:
df.idade.min()

10

In [20]:
df.idade.max()

30

In [21]:
df.idade.mean()

20.0