In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({'nome':['Rafael','Maria','João'],
                  'idade':[10,30,20]})

df

     nome  idade
0  Rafael     10
1   Maria     30
2    João     20

In [4]:
df.idade[1]

30

In [5]:
df['idade'][1]

30

In [6]:
df.loc[1,'idade']

30

In [9]:
df.idade.mean()

20.0